.tesla{
    font-size: 30px;
    text-align: center;
    background-color: grey;
}
.art{
    background-color: yellow;
}
.asd{
    color: red;
}
.tk{
    color: green;
}
.ky{
    color: red;
}
.xl{
    color: yellow;
}
.mzm{
    color: green;
}
.gg{
    color: grey;
}